.title-text {
  text-decoration: none;
}
.product-card .product-image {
  width: 200px;
  height: 250px;
  display: block;
}
.cart-button {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  background: #1b81ca;
  border: 1px solid #1f71bc;
  color: white;
}
.price {
  color: var(--Black, #222);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
