.payment-option-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  width: 80%;
  margin: 2rem auto;

  margin-right: 10%;
}
.payment-box {
  width: 700px;
  height: 300px;
  background: #fff;
  border: 2px solid whitesmoke;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2%;
}
.summary-box {
  width: 400px;
  height: 300px;
  flex-shrink: 0;
  padding: 10%;
  background: #fff;
  justify-content: space-between;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid whitesmoke;
  margin-left: 2%;
}
.pay-button {
  width: 206px;
  height: 40px;
  flex-shrink: 0;
  background-color: dodgerblue;
  border: 2px solid whitesmoke;
  margin-left: 45%;
}
.option-btn {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  background: #fff;
  margin-left: 2%;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid whitesmoke;
}
.option-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  width: 100%;
  margin: 2rem auto;
}
.option-btn-container p {
  text-align: start;
}
.option-btn-container h3 {
  text-align: start;
}
.summary-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  width: 100%;
  margin: 2rem auto;

  margin-right: 10%;
}
